body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 20px;
  }
  /*--------------------
  img {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
  }
  -------*/

  .banner {
    width: 100%;
  }

  .title {
    text-align: center;
  }

  .container {
  column-width: 300px;
  column-gap: 2em;
  padding-bottom: 10px;
  }

  .paragraph {
  margin-top: 0px;
  font-size: 1.2em;
  text-align: center;
  }

  .col-img {
    width: 55vh;
    height: 60vh;
  }
